nav(class='navbar navbar-default')
  div(class='container-fluid')
    div(class='navbar-header')
      a(class='navbar-brand' href="/") OAuth2 test app
    div(class='collapse navbar-collapse')
      ul(class='nav navbar-nav navbar-right')
        li
          button(type='button' class='btn btn-primary navbar-btn' onclick="window.location = '/login';") Log in
          div(class='modal fade' id='loginModal' tabindex='-1' role='dialog' aria-labelledby='loginModalLabel')
            div(class='modal-dialog modal-sm' role='document')
              div(class='modal-content')
                div(class='modal-header')
                  button(type='button' class='close' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true')  &times;
                  h4(class='modal-title') Please log in  
                div(class='modal-body')    
                  form
                    div(class='form-group')
                      label(for='userId') UserID
                      input(type='text' class='form-control' id='userId')
                    div(class='form-group')  
                      label(for='userPwd') Password
                      input(type='text' class='form-control' id='userPwd')
                div(class='modal-footer')
                  button(type='button' class='btn btn-default' data-dismiss='modal') Close
                  button(type='button' class='btn btn-primary') Log in
